{{> head}}

<body>

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Metallica</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere quasi, non quia similique, nisi aspernatur nulla sed nam nihil quod explicabo sit autem consequatur nobis repellendus doloremque maiores molestias in.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/metallica.jpg" class="img-thumbnail">
        </div>
    </div>

    {{> footer}}

</body>

</html>